<a href="https://colab.research.google.com/github/SheTroxel/deep-learning-challenge/blob/main/AlphabetSoupCharityHotOptimized.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
#!pip install keras-tuner
import keras_tuner as kt

In [10]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Determine the number of unique values in each column.
attrition_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[attrition_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [17]:
#Create a OneHotEncoder Instance
enc = OneHotEncoder(sparse_output = False)

#fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[attrition_cat]))

# Add the encoded variable names to the DataFrame.
encode_df.columns = enc.get_feature_names_out(attrition_cat)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
application_df = application_df.merge(encode_df, left_index = True, right_index = True)
application_df= application_df.drop(attrition_cat, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
#random state reference: https://towardsdatascience.com/why-do-we-set-a-random-state-in-machine-learning-models-bb2dc68d8431

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 8

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim= number_input_features, activation= "relu" ))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 8)                 72

 dense_3 (Dense)             (None, 1)                 9

=================================================================
Total params: 1,089
Trainable params: 1,089
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7362
Epoch 2/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 3/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7370
Epoch 4/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5369 - accuracy: 0.7382
Epoch 5/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7376
Epoch 6/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5369 - accuracy: 0.7375
Epoch 7/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7381
Epoch 8/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7369
Epoch 9/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5369 - accuracy: 0.7382
Epoch 10/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5371 - accuracy: 0.7375
Epoch 11/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7380
Epoch 12/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5369 - accuracy: 0.7362
Epoch 13/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7375
Epoch 14/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5367 - accuracy: 0.7378
Epoch 15/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5369 - accuracy: 0.7385
Epoch 16/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5366 - accuracy: 0.7381
Epoch 17/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7378
Epoch 18/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5364 - accuracy: 0.7378
Epoch 19/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7372
Epoch 20/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 21/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5364 - accuracy: 0.7376
Epoch 22/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5361 - accuracy: 0.7382
Epoch 23/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7383
Epoch 24/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 25/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5364 - accuracy: 0.7384
Epoch 26/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7378
Epoch 27/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7366
Epoch 28/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7375
Epoch 29/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 30/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7384
Epoch 31/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7374
Epoch 32/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7376
Epoch 33/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7373
Epoch 34/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7379
Epoch 35/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 36/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7384
Epoch 37/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7385
Epoch 38/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7380
Epoch 39/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7381
Epoch 40/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7382
Epoch 41/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7391
Epoch 42/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7375
Epoch 43/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7372
Epoch 44/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7385
Epoch 45/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5361 - accuracy: 0.7376
Epoch 46/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7378
Epoch 47/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7360
Epoch 48/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7373
Epoch 49/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7385
Epoch 50/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7383
Epoch 51/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7378
Epoch 52/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7374
Epoch 53/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5359 - accuracy: 0.7376
Epoch 54/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7383
Epoch 55/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7384
Epoch 56/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7382
Epoch 57/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 58/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7384
Epoch 59/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 60/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7382
Epoch 61/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5356 - accuracy: 0.7381
Epoch 62/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7384
Epoch 63/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7379
Epoch 64/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7380
Epoch 65/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7385
Epoch 66/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 67/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7388
Epoch 68/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5356 - accuracy: 0.7377
Epoch 69/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5355 - accuracy: 0.7371
Epoch 70/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7377
Epoch 71/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7375
Epoch 72/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7383
Epoch 73/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7381
Epoch 74/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7384
Epoch 75/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7386
Epoch 76/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7387
Epoch 77/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7381
Epoch 78/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7388
Epoch 79/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7381
Epoch 80/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7386
Epoch 81/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7388
Epoch 82/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 83/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7383
Epoch 84/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 85/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7390
Epoch 86/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 87/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7383
Epoch 88/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7385
Epoch 89/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7396
Epoch 90/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7389
Epoch 91/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7380
Epoch 92/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7371
Epoch 93/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7386
Epoch 94/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7401
Epoch 95/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7381
Epoch 96/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7390
Epoch 97/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7386
Epoch 98/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7390
Epoch 99/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7387
Epoch 100/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5345 - accuracy: 0.7389
Epoch 101/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7380
Epoch 102/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7386
Epoch 103/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 104/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7390
Epoch 105/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7386
Epoch 106/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 107/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7384
Epoch 108/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5347 - accuracy: 0.7381
Epoch 109/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7384
Epoch 110/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5342 - accuracy: 0.7403
Epoch 111/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7388
Epoch 112/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5343 - accuracy: 0.7388
Epoch 113/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 114/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7381
Epoch 115/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7388
Epoch 116/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7394
Epoch 117/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7387
Epoch 118/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7385
Epoch 119/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7391
Epoch 120/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5344 - accuracy: 0.7382
Epoch 121/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7390
Epoch 122/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7390
Epoch 123/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7385
Epoch 124/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5343 - accuracy: 0.7390
Epoch 125/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7383
Epoch 126/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7398
Epoch 127/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7382
Epoch 128/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 129/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7392
Epoch 130/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7379
Epoch 131/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5344 - accuracy: 0.7384
Epoch 132/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5340 - accuracy: 0.7398
Epoch 133/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7393
Epoch 134/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7393
Epoch 135/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5339 - accuracy: 0.7383
Epoch 136/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7381
Epoch 137/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7390
Epoch 138/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7389
Epoch 139/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7390
Epoch 140/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7381
Epoch 141/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7380
Epoch 142/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7390
Epoch 143/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 144/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7388
Epoch 145/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7393
Epoch 146/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5343 - accuracy: 0.7391
Epoch 147/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7388
Epoch 148/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7385
Epoch 149/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 150/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7384
Epoch 151/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7389
Epoch 152/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7390
Epoch 153/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5342 - accuracy: 0.7391
Epoch 154/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 155/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 156/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7385
Epoch 157/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7390
Epoch 158/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7395
Epoch 159/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7394
Epoch 160/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7386
Epoch 161/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7389
Epoch 162/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 163/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 164/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7389
Epoch 165/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7395
Epoch 166/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7393
Epoch 167/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5339 - accuracy: 0.7385
Epoch 168/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7381
Epoch 169/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 170/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5342 - accuracy: 0.7391
Epoch 171/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 172/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 173/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 174/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7395
Epoch 175/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 176/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7386
Epoch 177/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5338 - accuracy: 0.7392
Epoch 178/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7389
Epoch 179/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7379
Epoch 180/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7385
Epoch 181/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7382
Epoch 182/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7383
Epoch 183/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7389
Epoch 184/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7392
Epoch 185/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7382
Epoch 186/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 187/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7392
Epoch 188/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7389
Epoch 189/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7395
Epoch 190/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7392
Epoch 191/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5339 - accuracy: 0.7396
Epoch 192/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5339 - accuracy: 0.7379
Epoch 193/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5337 - accuracy: 0.7397
Epoch 194/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5334 - accuracy: 0.7384
Epoch 195/200
804/804 [==============================] - 4s 4ms/step - loss: 0.5337 - accuracy: 0.7383
Epoch 196/200

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5596 - accuracy: 0.7291 - 499ms/epoch - 2ms/step
Loss: 0.5596094131469727, Accuracy: 0.7290962338447571

In [32]:
nn_model.save('saved_models/AlphabetSoupCharityHotOptimized.h5')